/* GERAL */
* {
    box-sizing: border-box;
    padding: 0px;
    margin: auto;
    font-family: "ubuntu", sans-serif;
}

@media (min-widht: 500px) and (max-width: 1024px){
	* {
		box-sizing: border-box;
        	margin: 16px;
		padding: 10px;
    	}
}


body {
    background-image: url("https://a-static.besthdwallpaper.com/blue-heaven-wallpaper-2560x1440-32213_51.jpg");
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #8dd0f5;
    padding: 10px;
    margin: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    line-height: 1.5em;
    height: 100vh;
}

.hide {
    display: none;
}

.container {
    height:fit-content;
    background-color: #27228fb0;
    box-shadow: rgba(0, 0, 0, .24) 0px 3px 8px;
    padding: 20px;
    color: antiquewhite;
    border-radius: 1rem;
}

/* FORM */

.form h3 {
    margin-bottom: 1rem;
}

.form-input-container {
    display: flex;
}

.form input {
    padding: .8rem;
    border: none;
    flex: 1;
    border-radius: 7px;
    transition: 0.5s;
    background-color: #ffffffbb;
}

.form input:hover {
    transform: scale(1.04);
}
.form input:focus {
    outline: 0;
}

.form button {
    padding: .8rem;
    min-width: 50px;
    margin-left: 20px;
    background-color: #8dd0f5;
    color: antiquewhite;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

#search:hover {
    color: #fff;
    background: #06283d;
}

/* CLIMA */

#weather-data {
    border-top: 1px solid #fff;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    text-align: center;
}

#weather-data h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.6rem;
}

#weather-data h2 i {
    font-size: 1rem;

}

#weather-data span {
    margin: 0.6rem;
}

#country {
    height: 15px;
}

#description-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .6rem 0;
}

#description {
    font-weight: bold;
    text-transform: capitalize;
}

#temperature {
    font-size: larger;
    font-weight: 700;
}

#min-max {
    font-size: small;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.623) 0px 5px 10px;
    border-radius: 15px;
}

#min-max .temp-min {
    border-right: 2px solid #fff;
    padding-right: 22px;
}

#details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

#details-container #wind {
    padding: 20px;
}

/* ------------------------------- */

.not-found {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

